* {
  user-select: none;
}

html {
  font-family: Geneva, Verdana, sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}

.demo-list {
  margin: 1.6rem 0 6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.route-cont {
  border: 1px solid;
  border-radius: 6px;
  width: 90%;
  margin: 0 auto 1.6rem;
}

@media (max-width: 40rem) {
  .demo-list {
    display: block;
  }
}

@media (min-width: 40rem) and (max-width: 60rem) {
  .demo-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 60rem) and (max-width: 80rem) {
  .demo-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.route-cont:hover {
  cursor: pointer;
  background-color: #c3c2ee;
}

.route-cont * {
  padding: 1rem;
}

.route-title {
  font-size: 1.6rem;
  padding-bottom: 2rem;
}

.route-authors {
  font-size: 1.4rem;
}

.route-tags * {
  display: inline-block;
  background-color: #466df9;
  color: white;
  padding: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.4rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.footer svg {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
